<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-lazy-init="true">

	<description>Shiro Configuration</description>

	<!-- Shiro's main business-tier object for web-enabled applications -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="shiroDbRealm" />
		<property name="cacheManager" ref="cacheManager" />
	</bean>
    <!-- sessionIdCookie：maxAge=-1表示浏览器关闭时失效此Cookie；
    rememberMeCookie：即记住我的Cookie，保存时长30天 -->
    <bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">  
        <constructor-arg value="sid"/>  
        <property name="httpOnly" value="true"/>  
        <property name="maxAge" value="-1"/>  
    </bean>  
    <bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">  
        <constructor-arg value="rememberMe"/>  
        <property name="httpOnly" value="true"/>  
        <property name="maxAge" value="2592000"/><!-- 30天 -->  
    </bean>
    
	<!-- 項目自定义的Realm -->
	<bean id="shiroDbRealm" class="com.xigua.realm.ShiroDbRealm" >
		<property name="cacheManager" ref="cacheManager" />
	</bean>
    

	<!-- Shiro Filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/login" />
		<property name="successUrl" value="/blank" />
		<property name="unauthorizedUrl" value="WEB-INF/views/500.jsp" />
		<property name="filters"> 
            <map> 
                 <entry key="authc" value-ref="formAuthenticationFilter"/> 
            </map> 
        </property> 
		<property name="filterChainDefinitions">
			<value>
			    /resources/css/** = anon
                /resources/plugins/** = anon
                /resources/js/** = anon
                /resources/img/** = anon
                /resources/fonts/** = anon
                /resources/font-awesome/** = anon
                /index = anon
                /login = anon
                /login.do = anon
                /checkLogin.do = anon
                /logout.html = logout
                /listDevice = roles[administrator]
                /showVirtualDevice/** = roles[administrator]
                /** = user
			</value>
		</property>
	</bean>

	<!-- 用户授权信息Cache -->
	<bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager" />

	<!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

    <!-- 表单登录 -->
    <bean id="formAuthenticationFilter"  
      class="org.apache.shiro.web.filter.authc.FormAuthenticationFilter"/>
      
	<!-- AOP式方法级权限检查 -->
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
		depends-on="lifecycleBeanPostProcessor">
		<property name="proxyTargetClass" value="true" />
	</bean>

	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />
	</bean>
	
    
</beans>